.editor-function-desc{
  position: absolute;
  z-index: 100;
  background-color: #ccc;
  color: #000;
  padding: 5px;
  max-width: 800px;
  min-width: 300px;
  min-height: 50px;
  max-height: 500px;
  overflow-y: auto;
  
  h3 {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
  }
  
  table {
    text-align:left;
  }
}