/*
* -----------------------------------------------
* nav head
* -----------------------------------------------
*/
.nav-head {
    min-height: 25px;
    // border-bottom: 1px solid #ccc;
    user-select: none;
    position:relative;
    
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(0deg, transparent 0%, #e0e0e0 100%);
    }
    
    //overwrite default position
    .dropdown-submenu{
      position:absolute;
    }
    .dropdown-menu {
      position:absolute;
      border-radius:0px 0px 6px 6px;
    }
    
    ul.nav {
      position: relative;
      left: 0;
      display: block;
      float: left;
      margin: 0 10px 0 0;
    }
    a {
        text-decoration: none;
    }
    li.dropdown {
        position: relative;
        line-height: 15px;
        float: left;
    }
    li.dropdown.open .dropdown-toggle {
        background-color: #e5e5e5;
        color: #555555;
    }
    //overwrite default width
    li.dropdown.open .dropdown-menu {
        display: block;
        min-width:200px;
    }
    a.dropdown-toggle {
        color: inherit;
        float: none;
        padding: 5px 15px 5px;
        outline: none;
        display: block;
    }
    .dropdown a:hover {
        color: #555555;
    }
}