/*
* -----------------------------------------------
* nav shortcut
* -----------------------------------------------
*/
 .nav-shortcut {
    min-height: 25px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(0deg, transparent 0%, #e0e0e0 100%);
    }

    &-item {
      width: 2rem;
      height: 2rem;
      display: inline-block;
      vertical-align: top;
      margin: 0px 5px;
      text-align: center;
      line-height: 2rem;
      overflow: hidden;
      transition: transform 0.2s;
      transform: scale(0.9);
      
      img {
        width:2rem;
        height:2rem;
      }
      
      span{
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 1rem;
        width: 2rem;
        height: 2rem;
        box-sizing: border-box;
      }
    }

}